.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card {
  width: calc(100% - 20px);
  max-width: 475px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.card:hover {
  transform: scale(1.01); 
}

.card h2 {
  margin: 10px 0;
  font-size: 25px;
}

.card p {
  text-align: center;
  font-size: 21px;
  display: none;
}

.card.expanded {
  min-height: 776px;
  background-color: #1a1a1a;
}

.card.expanded p {
  display: block;
}

.card img {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.list {
  display: grid;
  font-size: 18px;
  font-weight: bold;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.list li {
  padding: 10px;
  text-align: center;
}

.card.expanded .intro {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
